body{
    font-family: 'Courgette', cursive;
}
body{
    font-family: 'Courgette', cursive;
}

#ClickMe {
    margin: auto;
    max-width: 960px;
    padding: 12px;
}
header {
    background-color: rgb(246, 221, 223);
    height: 150px;
    padding: 4px;
}
header h1 {
    text-transform: uppercase;
    text-align: center;
    color: white;
    line-height: 50px;
}


.main_menu li {
    display: inline;
    padding: 0 10px 0 10px;
    font-size: 20px;
}
.main_menu a {
    color: grey;
    padding: 8px;
    font-variant: small-caps;
}
.main_menu a:hover {
    color: rgb(236, 247, 243);
}